services:
  - type: web
    name: the-crows-backend
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm run start
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: PORT
        value: 5000
      - key: REDIS_URL
        value: redis://red-d6ds2jcr85hc73c3ogrg:6379
