services:
  - type: web
    name: the-crows-backend
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm run start
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: PORT
        value: 5000
